.personal-account {
    display: flex;
}
.header-left {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 24vw
}
.header-left-icon {
    display: flex;
    align-items: center;
    margin: 3vw 2vw 5vw 3vw;
}
.burger {
    width: 1.7vw;
    height: 1.5vw;
}
.header-left-logo {
    width: 2.6vw;
    height: 2.6vw;
    margin-left: 1.5vw;
}


.header-left-container-buttons {
    display: flex;
    flex-direction: column;
    margin: 0 2vw 5vw 3vw;
}
.header-left-button {
    width: 15vw;
    height: 3.2vw;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.5vw;
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5vw;
}
.header-left-button:hover {
    background-color: #F6F7FB;
}
.header-left-buttons-text{
    padding-left: 0.7vw;
    font-size: 1.1vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #2D3748;

}
.header-left-buttons-text:active{
    color: #3877EE;
}
.header-left-button img {
    width: 1.6vw;
}


.right-user-data  {
    margin-top: 11vw;
}
.right-user-data h1{
    font-size: 1.7vw;
    color: #2D3748;
    margin-left: 0.4vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    line-height: 1.5vw;
    font-style: normal;
    margin-bottom: 2vw;
}
.title-data{
    font-size: 1.4vw;
    color: #2D3748;
    margin-left: 0.4vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    line-height: 1.5vw;
    font-style: normal;
}
.right-user-info {
    width: 71vw;
    height: 11vw;
    background-color: #F6F7FB;
    padding: 1.4vw;
    display: flex;
    flex-direction: column;
    background-color: #F6F7FB;
    margin: 1.6vw 0;
    border-radius: 0.6vw;
}
.right-user-info span{
    margin-bottom: 0.4vw;
    font-size: 1.1vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    line-height: 1.5vw;
    font-style: normal;
}
.right-user-info input{
    width: 31vw;
    height: 3vw;
    border: 0;
    border-radius: 0.3vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    line-height: 1.5vw;
    font-style: normal;
    padding-left: 1vw;
    font-size: 1.1vw;
    margin-right: 4vw;
    margin-top: 1vw;
}
.user-name {
    display: flex;
    flex-direction: column;
}
.user-email {
    display: flex;
    flex-direction: column;
}
.save-info-user {
    background-color: #3877EE;
    width: 7vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-radius: 0.3vw;
    font-size: 1.1vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    line-height: 1.5vw;
    font-style: normal;
    cursor: pointer;
    margin-top: 2vw;
}



.right-user-actions {
    width: 71vw;
    height: 255px;
    height: 17vw;
    padding: 1.4vw;
    display: flex;
    background-color: #F6F7FB;
    margin: 1.6vw 0;
    border-radius: 0.6vw;
}
.right-user-actions img {
    width: 13vw;
}
.right-user-actions-info {
    margin-left: 6vw;
}
.right-user-actions-info-title {
    font-size: 1.7vw;
    color: #3877EE;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    line-height: 1.5vw;
    font-style: normal;
    margin-bottom: 2vw;
}
.right-user-actions-info-container {
    display: grid;
    grid-template-columns: 19vw 12vw;
}
.right-user-actions-info-container span {
    font-size: 1.1vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    line-height: 1.5vw;
    font-style: normal;
    margin: 1vw 0;
}






.hexagon {
    width: 10vw;
    height: 6.5vw;
    background: #3877EE99;
    position: relative;
    top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1vw;
    font-family: "Nunito", serif;
    font-weight: 500;
    line-height: 1.5vw;
    color: #FFFFFF;
    padding: 0 1.4vw;
    margin-right: 0.5vw;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5vw solid transparent; /* 50px -> 5vw */
    border-right: 5vw solid transparent; /* 50px -> 5vw */
}
.hexagon:before {
    top: -2.47vw;
    border-bottom: 2.5vw solid #3877EE99;
}

.hexagon:after {
    bottom: -2.48vw;
    border-top: 2.5vw solid #3877EE99;
}

/* Когда элемент активен, меняем фон */
.hexagon.active-achievement {
    background: #3877EE;
}

.hexagon.active-achievement:before {
    border-bottom-color: #3877EE;
}

.hexagon.active-achievement:after {
    border-top-color: #3877EE;
}
.right-user-actions-achievements {
    display: flex;
    flex-direction: column;
}
.right-user-actions-achievements span {
    font-size: 1.1vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    line-height: 1.5vw;
    font-style: normal;
    margin: 1vw 0;
}
.right-user-actions-achievements-container {
    height: 12vw;
    width: 73.64vw;
    display: flex;
}



@media (max-width: 480px) {
    .burger {
        display: block;
        width: 24px;
        height: 24px;
    }
    .header-left-logo {
        width: 36px;
        height: 36px;
    }
    .header-left-container-buttons {
        background-color: white;
        height: 100%;
        width: 248px;
        margin: 0;
    }
    .header-left-buttons-text {
        font-size: 20px;
        margin: 10px 10px;
    }
    .header-left-button {
        width: 248px;
        height: 20vw;
    }
    .header-left-button img {
        width: 24px;
        height: 24px;
    }
}