.module {
    display: flex;
}
.right-cart-model {
    margin-top: 11vw;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.right-cart-model h1{
    font-size: 1.7vw;
    color: #2D3748;
    margin-left: 0.4vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    line-height: 1.5vw;
    font-style: normal;
}
.right-cart-model h2{
    font-size: 1.1vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    line-height: 1.5vw;
    font-style: normal;
    margin: 1.3vw 0;
}
.container-info-module {
    display: flex;
}
.info-block-module {
    padding: 0.5vw 1vw;
    cursor: pointer;
    border: solid #3877EE 0.15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3vw;
    font-size: 1.1vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    line-height: 1.5vw;
    font-style: normal;
    color: #3877EE;
    margin-right: 1vw;
    cursor: pointer;
}
.container-module-buttons {
    margin-top: 3vw;
    display: grid;
    grid-template-columns: 23vw 23vw 0vw;
    grid-template-rows: 6vw 6vw 0vw;
}
.module-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2vw;
    width: 19.5vw;
    height: 5vw;
    background-color: #F6F7FB;
    border-radius: 0.4vw;

    font-size: 1.08vw;
    color: #2D3748;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    cursor: pointer;
}

@media (max-width: 480px) {
    .right-cart-model{
        margin-top: 85px;
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .right-cart-model h1{
        font-size: 24px;
    }
    .right-cart-model h2{
        margin: 37px 0 17px 0;
        font-size: 16px;
    }
    .info-block-module {
        padding: 14px 13px;
        font-size: 16px;
        border-radius: 4px;
    }
    .container-module-buttons {
        display: flex;
        flex-direction: column;
    }
    .module-buttons {
        width: 280px;
        height: 70px;
        border-radius: 4px;
        font-size: 16px;
        margin-bottom: 3px;
    }
}